.jslint-settings-dialog .modal-body input[type="checkbox"]{
    margin-right: 5px;
}
.jslint-settings-dialog .modal-footer label {
    padding-right: 6px;
    box-sizing: border-box;    
}
.jslint-settings-dialog .modal-footer textarea {
    width: 97%;
    height: 70px;
    resize: vertical;
}
.jslint-settings-dialog .modal-footer .field-container {
    padding-top: 15px;
}